.edit-box {
  border: 1px solid #d4af37;
  border-radius: 15px;
  background-color: transparent;
  padding: 20px;
  margin-top: 20px;
}
.edit-box h2 {
  color: #d4af37;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}
.status-select {
  width: 100%;
  padding: 14px 16px;

  margin-top: 15px;

  border-radius: 14px;

  background: #111;

  color: #f5c542;

  border: 1px solid rgba(212, 175, 55, 0.5);

  font-size: 16px;

  font-weight: 600;

  cursor: pointer;

  outline: none;

  transition: all 0.3s ease;

  appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, #d4af37 50%),
    linear-gradient(135deg, #d4af37 50%, transparent 50%);

  background-position:
    calc(100% - 20px) 55%,
    calc(100% - 15px) 55%;

  background-size:
    6px 6px,
    6px 6px;

  background-repeat: no-repeat;
}

.status-select:hover {
  border-color: #d4af37;

  box-shadow: 0 0 15px rgba(212, 175, 55, 0.35);
}

.status-select:focus {
  border-color: #ffd700;

  box-shadow: 0 0 20px rgba(255, 215, 0, 0.45);
}

.status-select option {
  background: #111;

  color: gray;

  padding: 10px;
}
.save-btn {
  background: #d4af37;
  color: white;
  margin: 10px 0;
}
.cancel-btn {
  background: #8b0000;
  color: white;
}
