.voice-box {
  background: #111;

  border: 1px solid rgba(212, 175, 55, 0.25);

  padding: 25px;

  border-radius: 20px;

  margin-top: 30px;
}

.voice-box h3 {
  color: #d4af37;

  margin-bottom: 20px;
}

.timer {
  color: #ff5555;

  font-weight: bold;
}

.start-record,
.stop-record,
.upload-record {
  width: 100%;

  padding: 14px;

  border-radius: 12px;

  border: none;

  margin-top: 15px;

  cursor: pointer;

  font-weight: 600;
}

.start-record {
  background: #d4af37;

  color: #000;
}

.stop-record {
  background: #c0392b;

  color: white;
}

.upload-record {
  background: #222;

  border: 1px solid #d4af37;

  color: #d4af37;
}

audio {
  width: 100%;

  margin-top: 20px;
}
